body {
  background-image: url('adi.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};
h1 {
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  background-image: url('header-bg.jpg');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.columns {
  column-count: 3;
  column-gap: 83px;
  column-rule: 2px dashed #3366FF;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2194a9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  top: -70px;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

input[type="file"] {
  margin-bottom: 10px;
  background-color: #349ab9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
          }
